@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/Home/index.css" rel="stylesheet">
    
</head>
<body>
    <div class="container-fluid">
        @*<div class="category-header" id="category-header">
        </div>*@


        <div class="home-focus-title d-flex">
            <div class="current-articles">Tin mới nhất</div>
            <div class="most-read-articles">Đọc nhiều nhất</div>
        </div>

        <div class="home-focus">
            <div class="current-articles" id="current-article">
                @*<a class="cur-article" href="">
                    <div class="cur-article-title"></div>
                    <div class="cur-article-des"></div>
                </a>*@
            </div>
            <div class="most-read-articles" id="most-read-article">
                @*<a class="most-read-article" href="">
                    <div class="most-read-article-title"></div>
                    <div class="most-read-article-des"></div>
                </a>*@
            </div>
        </div>

        <div class="hr position-relative">
            <div class="hr-txt position-absolute">
                CATEGORY
            </div>
        </div>

        <div id="articles">
            @*<div class="category">
                <div class="category-name"></div>
                <div class="category-articles">
                    <a class="article" href="#">
                        <div class="article-title"></div>
                        <div class="article-description"></div>
                    </a>
                </div>
            </div>*@
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/homepage.js"></script>

</html>