@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/Home/index.css" rel="stylesheet">
    
</head>
<body>
    <div class="container-fluid">
        <div class="category">

        </div>
        <div class="home-focus">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
        <div class="articles">

        </div>
    </div>
</body>
</html>