<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/Home/index.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid mt-4">
        <h3 id="title"></h3>
        <i id="created-date"></i>
        <div class="mt-3">
            <h5 id="short-description"></h5>
            <p id="content"></p>
        </div>
        <h3>Comments</h3>
    </div>
    <div id="comments" class="p-1" style="border: 1px solid"></div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/article-detail.js"></script>
</html>